<div class="form-group">
  <%= simple_form_for(article) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control', :input_html => { 'rows' => 6, 'cols' => 20 } %>
    <%= f.button :submit, class: 'btn btn-outline-success' %>
  <% end %>
</div>
